body{
    background-color: #1F2937;
}
.Head{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}
.con{
    font-size: 24px;
    color: #E5E7EB;
}
.button{
    border: none;
    background-color: #3882f6;
    border: 1px solid #3882f6;
    border-radius: 7px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 25px;
    transition: all 0.5s;
    cursor: pointer;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }


/* Text-Allignment */

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top:20%;
}